In [23]:
import sqlite3
import pandas as pd

In [41]:
df_pop = pd.read_csv(
    "../data/processed/tmdb_popular.csv",
    quotechar='"',
    engine="python", 
)

df_topr = pd.read_csv(
    "../data/processed/tmdb_top_rated.csv",
    quotechar='"',
    engine="python",
)

df_upc = pd.read_csv(
    "../data/processed/tmdb_upcoming.csv",
    quotechar='"',
    engine="python",
)

In [35]:
con = sqlite3.connect("../sql/tmdb_etl.db")

In [42]:
df_pop.to_sql("popular", con=con, if_exists="replace", index=False)
df_topr.to_sql("top_rated", con=con, if_exists="replace", index=False)
df_upc.to_sql("upcoming", con=con, if_exists="replace", index=False)

1116

In [45]:
df_check = pd.read_sql("SELECT * FROM popular LIMIT 5", con)
print(df_check)

        id original_language                    original_title  \
0  1125899                en                           Cleaner
1  1165067                en                      Cosmic Chaos
2   822119                en  Captain America: Brave New World
3  1373723                en                  The Codes of War
4  1229730                fr                        Carjackers

                                            overview  popularity release_date  \
0  When a group of radical activists take over an...  482.411499   2025-02-19
1  Battles in virtual reality, survival in a post...  416.371094   2023-08-03
2  After meeting with newly elected U.S. Presiden...  391.166992   2025-02-12
3  War stories about family, ethics and honor inc...  360.009308   2025-03-20
4  By day, they're invisibleâ€”valets, hostesses, a...  398.268097   2025-03-27

                              title       vote_average  vote_count  \
0                           Cleaner  6.699999809265137       120.0
1                      Cosmic Chaos  5.735000133514404        17.0
2  Captain America: Brave New World  6.099999904632568      1157.0
3                  The Codes of War  6.800000190734863        13.0
4                        Carjackers  6.800000190734863        21.0

                                          poster_url  \
0  https://image.tmdb.org/t/p/w342/2KIqFpvjVI6mNB...
1  https://image.tmdb.org/t/p/w342/mClzWv7gBqgXfj...
2  https://image.tmdb.org/t/p/w342/pzIddUEMWhWzfv...
3  https://image.tmdb.org/t/p/w342/oXeiQAfRK90pxx...
4  https://image.tmdb.org/t/p/w342/6QZ3B6R3PTL54A...

                                        backdrop_url release_year  \
0  https://image.tmdb.org/t/p/w780/gsQJOfeW45KLiQ...         2025
1  https://image.tmdb.org/t/p/w780/m2mzlsJjE3UAqe...         2023
2  https://image.tmdb.org/t/p/w780/8eifdha9GQeZAk...         2025
3  https://image.tmdb.org/t/p/w780/ibF5XVxTzf1ayz...         2025
4  https://image.tmdb.org/t/p/w780/is9bmV6uYXu7Lj...         2025

  release_month popularity_level rating_level  \
0             2        very high      average
1             8        very high      average
2             2        very high      average
3             3        very high      average
4             3        very high      average

                                      genres  \
0                     ['Action', 'Thriller']
1            ['Thriller', 'Science Fiction']
2  ['Action', 'Thriller', 'Science Fiction']
3                          ['Action', 'War']
4                    ['Action', 'Adventure']

                          genres_str
0                   Action, Thriller
1          Thriller, Science Fiction
2  Action, Thriller, Science Fiction
3                        Action, War
4                  Action, Adventure

In [4]:
cur.execute("CREATE TABLE movie(title, year, score)")

('movie',)

In [6]:
res = cur.execute("SELECT name FROM sqlite_master WHERE name='spam'")
res.fetchone() is None

True

In [7]:
cur.execute(
    """
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
"""
)

In [8]:
con.commit()

In [9]:
res = cur.execute("SELECT score FROM movie")
res.fetchall()

[(8.2,), (7.5,)]

In [10]:
data = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO movie VALUES(?, ?, ?)", data)
con.commit()  # Remember to commit the transaction after executing INSERT.

In [12]:
cur.execute("SELECT year, title FROM movie ORDER BY year")

In [11]:
for row in cur.execute("SELECT year, title FROM movie ORDER BY year"):
    print(row)

(1971, 'And Now for Something Completely Different')
(1975, 'Monty Python and the Holy Grail')
(1979, "Monty Python's Life of Brian")
(1982, 'Monty Python Live at the Hollywood Bowl')
(1983, "Monty Python's The Meaning of Life")

In [14]:
con.close()
new_con = sqlite3.connect("../sql/tutorial.db")
new_cur = new_con.cursor()
res = new_cur.execute("SELECT title, year FROM movie ORDER BY score DESC")
title, year = res.fetchone()
print(f"The highest scoring Monty Python movie is {title!r}, released in {year}")
new_con.close()

The highest scoring Monty Python movie is 'Monty Python and the Holy Grail', released in 1975